:root {
	--white: #effbf2;
	--palegreen: #d4f4dd;
	--turquoise: #17bebb;
	--teal: #0e7c7b;
	--black: #021212;

	--color-primary-100: #cffbeb;
	--color-primary-200: #a1f8df;
	--color-primary-300: #6febd3;
	--color-primary-400: #49d8c8;
	--color-primary-500: #17bebb;
	--color-primary-600: #1099a3;
	--color-primary-700: #0b7588;
	--color-primary-800: #07556e;
	--color-primary-900: #043e5b;
	--color-success-100: #e5f9d1;
	--color-success-200: #c6f4a6;
	--color-success-300: #98df74;
	--color-success-400: #6ac04c;
	--color-success-500: #34961e;
	--color-success-600: #218115;
	--color-success-700: #126c0f;
	--color-success-800: #09570c;
	--color-success-900: #05480d;
	--color-info-100: #cef1fe;
	--color-info-200: #9ddefe;
	--color-info-300: #6cc5fc;
	--color-info-400: #47acfa;
	--color-info-500: #0c85f7;
	--color-info-600: #0867d4;
	--color-info-700: #064cb1;
	--color-info-800: #03368f;
	--color-info-900: #022676;
	--color-warning-100: #fff4cc;
	--color-warning-200: #ffe799;
	--color-warning-300: #ffd666;
	--color-warning-400: #ffc53f;
	--color-warning-500: #ffaa00;
	--color-warning-600: #db8a00;
	--color-warning-700: #b76d00;
	--color-warning-800: #935300;
	--color-warning-900: #7a4000;
	--color-danger-100: #ffe2d9;
	--color-danger-200: #ffbeb3;
	--color-danger-300: #ff938d;
	--color-danger-400: #ff7176;
	--color-danger-500: #ff425b;
	--color-danger-600: #db3056;
	--color-danger-700: #b72151;
	--color-danger-900: #7a0c43;
}
