.container {
	width: 100%;
	min-height: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container h2 {
	margin: 0;
}

.container img {
	height: 300px;
	aspect-ratio: 1/1;
	object-fit: contain;
	padding-bottom: 20px;
}

.column {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.row {
	display: flex;
	gap: 20px;
	width: 100%;
}

textarea {
	resize: none;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
	padding: 5px;
}

input {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	margin-bottom: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

.image_label {
	background-color: var(--color-primary-500);
	color: var(--white);
	border-radius: 5px;
	width: 150px;
	padding: 10px;
	align-self: center;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	transition: 0.2s;
}

.image_label:hover {
	cursor: pointer;
	background-color: var(--color-primary-700);
}

.image_input {
	display: none;
}

.input_group {
	display: flex;
	flex-direction: column;
}

.input_row {
	display: flex;
	justify-content: space-between;
}

.submit,
.clear {
	width: 180px;
	padding: 10px;
	border: none;
	font-weight: 600;
	font-size: 18px;
	border-radius: 5px;
	margin: 40px 20px 0;
	cursor: pointer;
	transition: 0.2s;
}

.submit {
	background-color: var(--color-success-500);
	color: var(--white);
}

.submit:hover {
	background-color: var(--color-success-700);
}

.clear {
	background-color: var(--color-danger-500);
	color: var(--white);
}

.clear:hover {
	background-color: var(--color-danger-700);
}

input {
	padding: 5px;
}

input:invalid:required,
textarea:invalid:required {
	border: 1px solid var(--color-danger-500);
}

input:invalid:required:focus,
textarea:invalid:required:focus {
	outline-color: var(--color-danger-500);
}

input:focus,
textarea:focus {
	outline-color: var(--color-info-500);
	outline-style: solid;
	border-radius: 2px;
	border-color: transparent;
	border: 2px solid var(--color-info-500);
}

.spaced {
	justify-content: center;
}
