.grid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(6, 1fr);
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	align-items: center;
}

.prev,
.next {
	width: 40px;
	height: 40px;
	margin: 0 20px;
	border: 1px solid var(--color-primary-900);
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.prev:disabled,
.next:disabled {
	opacity: 50%;
}

.prev:hover:enabled,
.next:hover:enabled {
	background-color: var(--color-primary-200);
	cursor: pointer;
}

.loader {
	border-radius: 100%;
	border-top: 2px solid var(--color-primary-900);
	width: 60%;
	aspect-ratio: 1/1;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 1024px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 530px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
